<h1><%= @workout.name %></h1>
<p><strong>Date:</strong> <%= @workout.date.to_date %></p>
<%= link_to 'Edit', edit_workout_path(@workout) %> | <%= render_delete_workout_path(@workout) %>
<hr>
<h4>Notes</h4>
<p><%= @workout.notes %></p>
<hr>
<%= link_to 'Add Exercise', new_workout_exercise_path(:workout_id => @workout.id) %>

<% if @workout.workout_exercises %>
<table>
	<tr>
		<td><strong>Exercise</strong></td>
		<td><strong>Sets</strong></td>
		<td><strong>Reps</strong></td>
		<td><strong>Rest</strong></td>
		<td><strong>Tempo</strong></td>
		<td><strong>Notes</strong></td>
		<td></td>
	</tr>
	<% @workout.get_workout_exercises.each do |workout_exercise| %>
	<tr>
		<td><%= workout_exercise.exercise.name %></td>
		<td><%= workout_exercise.sets %></td>
		<td><%= workout_exercise.target_reps %></td>
		<td><%= workout_exercise.rest %></td>
		<td><%= workout_exercise.tempo %></td>
		<td><%= workout_exercise.notes %></td>
		<td><%= render_delete_workout_exercise_path(workout_exercise.id, @workout) %></td>
	</tr>
	<% end %>
</table>
<% end %>